<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
         <span>
          <% if current_user.is_friend?(user)  %>
            <%= button_to 'Friends' %>
          <% elsif (current_user == user) %>
          <% else  %>
            <% if current_user.is_friend_request_sent?(user) %>
            <%= button_to 'Friend request already sent'  %>
            <% elsif current_user.is_pending_request?(user) %>
            <%= button_to 'Accept Friend request'  %> <%= button_to 'Reject Friend request'  %>
            <% else %>
            <%= button_to 'Invite to friendship', frequests_send_request_path(friend_id: user.id), method:'post', remote: true %>
            <% end %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
